<?xml version="1.0" encoding="UTF-8"?>
<?xml-stylesheet type="text/xsl" href="configuration.xsl"?>

<configuration>
	<property>
               <name>fs.default.name</name>
               {% if 'hdfs_nn' in  group_names  %} 
               <value>hdfs://0.0.0.0:9000</value>
               {% else %}
               <value>hdfs://{{ groups["hdfs_nn"][0] }}:9000</value>
	       {% endif %}
       </property>
       <property>
               <name>hadoop.http.staticuser.user</name>
               <value>hdfs</value>
       </property>
</configuration>
