{
  "cpus": {{ cpus }},
  "mem": {{ memory }},
  "instances": {{ instances }},
  "container": {
    "type": "DOCKER",
    "docker": {
      "image": "{{ docker_registry }}/{{ app_group }}/{{ app_id }}:{{ tag }}",
      "network": "BRIDGE",
      "parameters": [
                 { "key": "hostname", "value": "{{ app_id }}.weave.local" },
                 { "key": "env", "value": "WEAVE_CIDR={{ static_ip }}" },
                 { "key": "log-driver", "value": "syslog" },
                 { "key": "log-opt", "value": "tag={{ app_id }}" },
                 { "key": "volume-driver", "value": "flocker" },
                 { "key": "volume", "value": "{{ app_id }}:/data" }

      ],
      "forcePullImage":true
    }
  },
  "constraints": [
      ["slavetype", "CLUSTER", "{{ slavetype }}"]
  ]
}
