{
  "cpus": {{ cpus }},
  "mem": {{ memory }},
  "instances": {{ instances }},
  "container": {
    "type": "DOCKER",
    "docker": {
      "image": "{{ docker_registry }}/{{ app_group }}/{{ app_id }}:{{ tag }}",
      "network": "BRIDGE",
      "parameters": [
                 { "key": "hostname", "value": "{{ app_id }}.weave.local" },
                 { "key": "log-driver", "value": "syslog" },
                 { "key": "log-opt", "value": "tag={{ app_id }}" }

      ],
      "forcePullImage":false
    }
  },
   "constraints": [
      ["slavetype", "CLUSTER", "{{ slavetype }}"]
   ]
}
