[Service]
Environment="KUBELET_KUBECONFIG_ARGS=--kubeconfig=/etc/kubernetes/kubelet.conf --require-kubeconfig=true"
Environment="KUBELET_SYSTEM_PODS_ARGS=--pod-manifest-path=/etc/kubernetes/manifests --allow-privileged=true"
Environment="KUBELET_NETWORK_ARGS=--network-plugin=cni --cni-conf-dir=/etc/cni/net.d --cni-bin-dir=/opt/cni/bin"
Environment="KUBELET_DNS_ARGS=--cluster-dns=10.96.0.10 --cluster-domain=cluster.local"
Environment="FLOCKER_CONTROL_SERVICE_HOST=node1"
Environment="FLOCKER_CONTROL_SERVICE_PORT=4523"
Environment="FLOCKER_CONTROL_SERVICE_CA_FILE=/etc/flocker/cluster.crt"
Environment="FLOCKER_CONTROL_SERVICE_CLIENT_KEY_FILE=/etc/flocker/apiuser.key"
Environment="FLOCKER_CONTROL_SERVICE_CLIENT_CERT_FILE=/etc/flocker/apiuser.crt"
ExecStart=
ExecStart=/usr/bin/kubelet $KUBELET_KUBECONFIG_ARGS $KUBELET_SYSTEM_PODS_ARGS $KUBELET_NETWORK_ARGS $KUBELET_DNS_ARGS $KUBELET_EXTRA_ARGS $FLOCKER_CONTROL_SERVICE_HOST $FLOCKER_CONTROL_SERVICE_PORT $FLOCKER_CONTROL_SERVICE_CA_FILE $FLOCKER_CONTROL_SERVICE_CLIENT_KEY_FILE $FLOCKER_CONTROL_SERVICE_CLIENT_CERT_FILE
