apiVersion: v1
kind: Service
metadata:
  name: prometheus
  labels:
    app: prometheus
spec:
  type: NodePort
  ports:
    - port: 9090
      nodePort: 30001
      protocol: TCP
      targetPort: 9090
  selector:
    app: prometheus
